<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.touchbar.deflicker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/michael/pm-tools-templates/touchbar_deflicker.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>120</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/michael/pm-tools-templates/touchbar_deflicker.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/michael/pm-tools-templates/touchbar_deflicker.error.log</string>
</dict>
</plist>
